*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: "Space Grotesk", Roboto;
}

:root{
    --transition:cubic-bezier(0.1,0.7,0,1); 
}


html
{
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 0.05rem;
}

::-webkit-scrollbar-thumb
{
    background-color: transparent;
}


/* Fullscreen container for video */
.video-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    background: rgba(0,0,0,0.4);
}

/* Styling for the video to cover the background */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Make sure the video stays behind other content */
    object-fit: cover; /* Ensures the video covers the container while maintaining aspect ratio */
}



nav{ 
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    
}

nav ul{
  
    margin-top: -1rem;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
   
}

nav li{
    list-style: none;
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: whitesmoke;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}

nav li a::after
{
    content: '';
    width: 0;
    height: 3px;
    left: 0px;
    bottom: -5px;
    align-self: center;
    position: absolute;
    background: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(255,255,255,0.5)), whitesmoke;
    transition: all 0.5s;
}

nav li a:hover::after
{
    width: 100%;
}

img{
    width: 10rem;
    height: 10rem;
    background-color: transparent;
}

.text{
    text-align: center;
    position: relative;
    
}

.text small{
    color: whitesmoke;
    font: bold 12px;
    letter-spacing: 2px;
   
   
}

.text h1{
    color: whitesmoke;
    font:  bold 80px "Space Grotesk";
    margin-top: 11.5rem;
    opacity: 0.9;
    mix-blend-mode: normal;

   
}
.text h1 span {
  color: transparent;
  -webkit-text-stroke: 2px white;
  letter-spacing: 3px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  mix-blend-mode: multiply;
}

/*-----------------about-----------------*/
#about-1
{
    background: rgb(255,255,255);
    padding: 120px 0;
    position: relative;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    
}

.row-2
{
    letter-spacing: 1px;
    width: 475px;
    margin-right: 150px;
    margin-top: -50px;
    padding: 1rem 1rem;


}

.row-2 p{
    font: 1rem;
    color: #7a7a7a;
}
.row-1 {
    
    padding: 2rem; /* Padding around the text */
    text-align: left; /* Align text to the left */
    max-width: 800px; /* Limit the width of the section */
    margin-left: 7rem;
  }
  
  .row-1 h3 {
    font-family: 'Arial', sans-serif; /* Change font family */
    font-size: 0.9rem; /* Small font for the subheading */
    letter-spacing: 1.5px; /* Letter spacing for uppercase effect */
    color: #b30d0d; /* Light purple color */
    text-transform: uppercase; /* Make text uppercase */
    margin-bottom: 1rem; /* Space between subheading and paragraph */
    border-left: 4px solid #b30d0d; /* Left border line */
    padding-left: 10px; /* Spacing between text and border */
  }
  
  .row-2 h2 {
    font-family: 'Arial', sans-serif; /* Change font family */
    font-size: 1.5rem; /* Larger font for paragraph */
    font-weight: 700; /* Make it bold */
    color: #111111; /* Black color for paragraph */
    line-height: 1.4; /* Adjust line spacing */
    margin: 0;
    max-width: 500px; /* Limit the width of the paragraph */
  }

  #about-2
  {
    padding: 5.3rem;
    background-color: #fff;
  }

  .column
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 250px, 300px));  
    column-gap: 5rem; 
    margin-left: 10rem; 
   
  }

  .columns
  {
    text-align: left;
    border-radius: 1.5rem;
    padding: 1rem 1rem 1rem 2rem; 
    transition: all 0.5s;
    cursor: pointer;
  }

  .columns p{
    max-width: 250px;
    letter-spacing: 1px;
    color: #7a7a7a;
    font-weight: 400;
  }

 .info{
    font-size: 28px;
  }

  .columns i{
    font-size: 52px;
    margin-bottom: 1rem;
    margin-left: 1.7rem;
   
  }
.columns:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

#about-3{
    padding: 100px 0;
    background: linear-gradient(30deg, rgba(255,255,255,0.6),rgba(0,0,0,0.7),#b30d0d);
}

.manifesto
{
    text-align: right;
    color: whitesmoke;
    transform: translate(-180px, 30px);
    position: relative;
}

.manifesto h5{
    border-left: 4px solid #fff;
    letter-spacing: 1px;
    padding-left: 10px;
   
}

.manifesto h2{
    font-size: 28px;
}

.mid-section{
    display: flex;
    flex-direction: column;
    padding: 2rem; 
    background: rgba(0,0,0,0.9);
    align-content: center;
    align-items: center;
}

.section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem; 
}

.number {
    font-size: 3rem; 
    font-weight: bold;
    -webkit-text-stroke: 2px #b30d0d;
    margin-right: 1.5rem; 
    line-height: 1; 
    color: transparent;
}

.text-1 {
    max-width: 550px; 
    text-align: left;
}

.text-1 h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff; 
    font-weight: bold; 
}

.text-1 p {
    margin: 0.5rem 0 0 0; 
    color: #7a7a7a;
    font-size: 1rem;
    
}

/*---------------Services-------------*/

#services-1
{
    padding: 6rem 0;
    background: linear-gradient(150deg, #b30d0d,rgba(0,0,0,0.7),rgba(255,255,255,0.6));
}

.moments{
    text-align: left;
    letter-spacing: 1px;
    margin-left: 6rem;
    color: #fff;
}

.moments h5{
    border-left: 4px solid #fff; /* Left border line */
    padding-left: 10px; 
}

.moments h4
{
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
}

#wrapper
{
    padding: 7rem 6rem 6rem 6.5rem;
    background: linear-gradient(90deg, rgba(0,0,0,0.9), #333);
    
}

.wrapper-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
}

.imgs-parent
{
    display: flex;
    gap: 0.4rem;
    perspective: 50rem;
}

.img{
    width: 5.4rem;
    height: 19rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 1.25s var(--transition),
                filter 2.5s var(--transition),
                width 0.25s var(--transition);               
    position: relative;
    filter: grayscale(1) brightness(0.5);
    will-change: transform, filter;

}

.img:hover{
    transform: translateZ(8.375rem);
    filter: inherit;
}

.img::before,
.img::after{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 100%;
    right: -1.5rem;
}

.img::after
{
    left: -1.5rem;
}

.img:hover + *
{
transform: translateZ(5.77rem) rotateY(35deg);
z-index: -1;
filter: grayscale(0.15) brightness(0.8);
}

.img:hover + * + *{
    transform: translateZ(2.2rem) rotateY(25deg);
    z-index: -2;
    filter: grayscale(0.3) brightness(0.7);
}

.img:hover + * + * + *{
    transform: translateZ(1.1rem) rotateY(9deg);
    z-index: -3;
    filter: grayscale(0.45) brightness(0.6);
}

.img:hover + * + * + * + * {
    transform: translateZ(0.4rem) rotateY(3deg);
    z-index: -4;
    filter: grayscale(0.6) brightness(0.5);
}

.img:has(+ :hover){
    transform: translateZ(5.75rem) rotateY(-35deg);
    filter: grayscale(0.15) brightness(0.8);
}
.img:has(+ * + :hover){
    transform: translateZ(2.2rem) rotateY(-25deg);
    filter: grayscale(0.3) brightness(0.7);
}

.img:has(+ * + * + :hover){
    transform: translateZ(1.1rem) rotateY(-9deg);
    filter: grayscale(0.45) brightness(0.6);
}

.img:has(+ * + * + * + :hover){
    transform: translateZ(0.4rem) rotateY(-3deg);
    filter: grayscale(0.6) brightness(0.5);
}

.open{
    width: 15vw;
    transform: translateZ(8.375rem);
    filter: inherit;
    z-index: 1;
    
}


.img1
{
    background-image: url('../images/IMG_1080.jpg');
}

.img2
{
    background-image: url('../images/IMG_1570.jpg');
}

.img3
{
    background-image: url('../images/IMG_1868.jpg');
}

.img4{
    background-image: url('../images/IMG_4468.jpg');
}

.img5{
    background-image: url('../images/IMG_6768.jpg');
}

.img6{
background-image: url('../images/IMG_7175.JPG');
}

.img7{
    background-image: url('../images/photo_1.jpg');
}

.img8
{
    background-image: url('../images/Photography.jpg');
}

.img9{
background-image: url('../images/IMG_1931.jpg');
}

.img10{
    background-image: url('../images/IMG_1391.jpg');
}

.img11
{
    background-image: url('../images/IMG_3006.jpg');
}

.img12
{
    background-image: url('../images/IMG_0663.jpg');
}

.img13
{
    background-image: url('../images/IMG_5286.jpg' );
}
nav .fa-regular
{
 display: none;
}

nav .fa-sharp 
{
    display: none;
}
